av
transformers==4.57.1
typed-argument-parser
hydra-core
einops
rich
tqdm
scipy
h5py
kornia
sophuspy
opencv-python
numpy<2
matplotlib
imageio
trimesh
huggingface_hub
python-box[all]~=7.0
timm
wandb
transformers
colorlog
hydra_zen
ffmpeg
wis3d
ultralytics
pytorch_lightning
gdown
pycolmap
tyro
smplx
toolz
imageio[ffmpeg]
pyliblzfse
scikit-image
scikit-learn
vdbfusion
segment_anything
nerfstudio
easydict
accelerate
chumpy 
